.main {
  --pill-height: 32px;

  align-items: center;
  display: flex;
  gap: 8px;
  height: var(--pill-height);
  padding: 0 0 0 4px;

  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 9999px;
  color: white;
  cursor: pointer;

  white-space: nowrap;

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:focus {
    @apply ring-2 ring-[white];

    outline: none;
  }

  &.uncloseable {
    padding-right: 12px;
  }
}

.close {
  height: var(--pill-height);
  width: var(--pill-height);

  border-radius: 9999px;

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }


  &:focus {
    @apply ring-2 ring-[white];

    outline: none;
  }
}
