.main {
  --bg-color: theme('colors.neutral.alpha.12');
  --color: theme('textColor.default');

  display: inline-flex;
  padding: 0 8px;

  background-color: var(--bg-color);
  border-radius: theme('borderRadius.full');
  color: var(--color);

  font-size: theme('fontSize.xs');

  &.status-neutral {
    --bg-color: theme('colors.neutral.alpha.12');
    --color: theme('textColor.default');
  }

  &.status-theme {
    --bg-color: theme('colors.theme.alpha.16');
    --color: theme('textColor.theme.darker');
  }

  &.status-danger {
    --bg-color: theme('colors.danger.alpha.12');
    --color: theme('textColor.danger.darker');
  }

  &.status-success {
    --bg-color: theme('colors.success.alpha.12');
    --color: theme('textColor.success.darker');
  }

  &.status-warning {
    --bg-color: theme('colors.warning.alpha.16');
    --color: theme('textColor.default');
  }
}
