@keyframes shimmer {
  0% { opacity: 0.08 }
  100% { opacity: 0.24 }
}

.shimmer {
  width: 100%;

  background-color: white;
  border-radius: theme('borderRadius.DEFAULT');

  animation: shimmer 800ms linear infinite alternate;
}
