.root {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  &[data-orientation="vertical"] {
    flex-direction: column;
    gap: 16px;
  }
}

.item {
  --focus-ring-color: theme('colors.theme.lighter');
  --focus-ring-offset: 2px;
  --focus-ring-border-radius: theme('borderRadius.full');

  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;

  background-color: white;
  border: 2px solid theme('colors.neutral.light');
  border-radius: theme('borderRadius.full');

  @apply focus-ring-base;

  &:focus-visible {
    @apply focus-ring-active;

    outline: none;
  }

  &:focus {
    outline: none;
  }

  &[data-state="checked"] {
    border-color: theme('colors.theme.DEFAULT');
  }
}

.indicator {
  height: 12px;
  width: 12px;

  background-color: theme('colors.theme.DEFAULT');
  /* border: 1px solid theme('colors.theme.DEFAULT'); */
  border-radius: theme('borderRadius.full');
}

.label {
  cursor: pointer;
  user-select: none;

  font-size: theme('fontSize.sm');
  line-height: 20px;
}
