.action {
  height: 35px;
  width: 104px;
}

.text {
  width: 50%;

  &.kind-h1 {
    height: 30px;
    margin: 7.5px 0;
  }

  &.kind-h2 {
    height: 24px;
    margin: 6px 0;
  }

  &.kind-h3 {
    height: 20px;
    margin: 5px 0;
  }

  &.kind-h4 {
    height: 16px;
    margin: 4px 0;
  }

  &.kind-p {
    height: 14px;
    margin: 3.5px 0;
  }

  &.kind-small {
    height: 12px;
    margin: 3px 0;
  }
}

.line {
  height: 14px;
  margin: 3.5px 0;
  width: 100%;

  &.trailing {
    width: 70%;
  }
}
