.main {
  padding: 8px 12px;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid transparent;
  border-radius: theme('borderRadius.lg');
  box-shadow: 0 0 0 -2px white, 0 0 0 0 theme('colors.theme.light');
  color: white;

  font-family: theme('fontFamily.sans');
  font-size: theme('fontSize.base');

  transition: box-shadow 300ms ease;

  &:focus {
    outline: none;

    @apply ring-2 ring-[white];
  }

  &[aria-invalid="true"] {
    border-color: theme('colors.danger.DEFAULT');

    @apply ring-danger-lighter;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.72);
  }
}
