.main {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  width: 100%;

  background-color: theme('colors.neutral.alpha.16');
  border-radius: theme('borderRadius.DEFAULT');
  color: theme('textColor.default');
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 21px;
  width: 21px;
}

.status-neutral {
  background-color: theme('colors.neutral.alpha.12');

  & > .icon {
    color: theme('textColor.default');
  }
}

.status-danger {
  background-color: theme('colors.danger.alpha.12');

  & > .icon {
    color: theme('textColor.danger.dark');
  }
}

.status-warning {
  background-color: theme('colors.warning.alpha.16');

  & > .icon {
    color: theme('textColor.default');
  }
}
