.content {
  min-width: 12rem;
  padding: 4px;

  background-color: white;
  border-radius: theme('borderRadius.DEFAULT');
  box-shadow: 0 0 3px 0 theme('colors.neutral.lightest'), theme('boxShadow.lg');
}

.separator {
  height: 1px;
  margin: 6px 4px;

  background-color: theme('colors.neutral.lighter');
}

.arrow {
  fill: white;
}
