.main {
  margin-bottom: 16px;
}

.label {
  display: inline-block;
  margin: 0 4px 4px;

  color: theme('textColor.lighter');

  font-size: theme('fontSize.xs');
  font-weight: 500;
}

.error {
  display: inline-flex;
  gap: 8px;
  margin: 8px 4px 0;

  color: theme('textColor.danger.DEFAULT');
}
