.root {
  --focus-ring-offset: 1px;

  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;

  background-color: white;
  border: 2px solid theme('colors.neutral.light');
  border-radius: theme('borderRadius.DEFAULT');

  @apply focus-ring-base;

  &:focus-visible {
    @apply focus-ring-active;

    outline: none;
  }

  &:focus {
    outline: none;
  }

  &[data-state="checked"] {
    background-color: theme('colors.theme.light');
    border-color: theme('colors.theme.light');
    color: white;
  }
}

.indicator {
  width: 12px;

  font-size: 12px;
  line-height: 1;

  &:focus {
    outline: none;
  }
}

.label {
  cursor: pointer;
  user-select: none;

  font-size: theme('fontSize.sm');
  line-height: 20px;
}
