@value button from "../../atoms/Button/styles.module.css";

.main {
  display: flex;
  flex: nowrap;

  & > .button {
    --focus-ring-border-radius: 0;

    border-radius: 0;
  }

  & > .button:first-child {
    --focus-ring-border-radius: theme('borderRadius.DEFAULT') 0 0 theme('borderRadius.DEFAULT');

    border-radius: theme('borderRadius.DEFAULT') 0 0 theme('borderRadius.DEFAULT');
  }

  & > .button:last-child {
    --focus-ring-border-radius: 0 theme('borderRadius.DEFAULT') theme('borderRadius.DEFAULT') 0;

    border-radius: 0 theme('borderRadius.DEFAULT') theme('borderRadius.DEFAULT') 0;
  }

  & > .button:not(:first-child) {
    margin-left: -1px;
  }
}
