@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  padding: 4px 8px;

  background-color: theme('colors.neutral.darkest');
  color: white;

  border-radius: theme('borderRadius.DEFAULT');

  font-size: theme('fontSize.sm');
  line-height: 1;

  @media (prefers-reduced-motion: no-preference) {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;

    &[data-state="delayed-open"] {
      &[data-side="bottom"] {
        animation-name: fadeUp;
      }
      &[data-side="top"] {
        animation-name: fadeDown;
      }
    }
  }
}
