.main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }
}

.title {
  margin: 0 10px 10px;

  color: theme('textColor.default');

  font-size: theme('fontSize.xs');
  font-weight: theme('fontWeight.semibold');
}

.item {
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 8px 20px;

  background-color: transparent;
  border-radius: theme('borderRadius.DEFAULT');
  color: theme('textColor.light');
  cursor: pointer;

  text-decoration: none;

  & + & {
    margin-top: 2px;
  }

  &:hover {
    background-color: theme('colors.neutral.alpha.8');

    text-decoration: none;
  }

  & > .icon {
    font-size: theme('fontSize.base');
  }

  &.active {
    font-weight: theme('fontWeight.bold');
  }
}

.dark .title {
  color: white;
}

.dark .item {
  color: theme('textColor.white.alpha.84');

  &:hover {
    background-color: theme('colors.white.alpha.8');
  }
}
